body {
  background-color: black;
}
.container {
  display: block;
  padding: 3rem;
}
.deet,
.contactdeets {
  padding: 1rem;
  margin-left: 40%;
  margin-right: 10%;
}
.deet {
  background-color: white;
  box-shadow: 2px 7px 25px 10px #b74ecd;
}
.contactdeets,
.sub {
  color: white;
}
hr,
.sub {
  margin-left: 40%;
  margin-right: 10%;
  color: white;
}

.white {
  color: white;
  margin-left: 40%;
  margin-right: 10%;
}
.purple {
  color: #b74ecd;
  margin-left: 40%;
  margin-right: 10%;
  display: block;
}

.card {
  float: left;
  background-image: linear-gradient(black, purple);

  height: 35rem;
}
.btn {
  background-color: white;
  color: #b74ecd;
  width: 100%;
  margin-top: 30%;
  border: none;
}
.card-title {
  color: white;
  font-size: 1rem;
  font-weight: 800;
}
.card-text {
  color: rgb(201, 199, 199);
  margin-top: 15%;
}
.btn:hover {
  background-color: black;
  color: white;
  border: none;
}
