body {
  background-color: black;
}
.container {
  display: block;
  padding: 3rem;
}
.deet,
.contactdeets {
  padding: 1rem;
  margin-left: 40%;
  margin-right: 10%;
}
.deet {
  background-color: white;
  box-shadow: 2px 7px 25px 10px #b74ecd;
}
.contactdeets,
.sub {
  color: white;
}
hr,
.sub {
  margin-left: 40%;
  margin-right: 10%;
  color: white;
}

.white {
  color: white;
  margin-left: 40%;
  margin-right: 10%;
}
.purple {
  color: #b74ecd;
  margin-left: 40%;
  margin-right: 10%;
  display: block;
}
.card {
  float: left;
  position: relative;
}
.img1 {
  float: left;
  width: 35%;
  height: 100%;
}
